<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>42 Tools lite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" onclick="loadPage('rncp')">Home</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#" onclick="loadPage('rncp')">RNCP</a>
            <a class="nav-item nav-link" href="#" onclick="loadPage('rules')">Rules</a>
        </div>
    </nav>

    <div id="content"></div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="rncp.js"></script>
    <script src="rules.js"></script>
    <script src="index.js"></script>
</body>
</html>
